<% if resource&.errors.present? %>
  <strong><%= "#{resource.errors.count} error(s) detected: " %>
  <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
