binding.pry
<% if resource.errors.any? %>
  <div class="card border-danger">
    <div class="card-header bg-danger text-white">
      "#{pluralize(resource.errors.count, "error")} prohibited this #{resource.class.name.downcase} from being saved:"
    </div>
    <div class="card-body">
      <ul class="mb-0">
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
